@import "../../global.scss";

.landing {
    height: 100vh;
    padding-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    // overflow: hidden;


    .image {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        .imageCircle {
            width: 130%;
            height: 130%;
            position: absolute;
            background-color: rgba($light-blue, 0.075);
            border-radius: 0 50% 50% 50%;
            z-index: -5;
            transform: translate(-25%);
        }
    }

    .content {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 4rem;
        position: relative;
        z-index: 200;

        h1 {
            font-size: 2rem;
            margin: 0;
        }

        p {
            font-size: 1.1rem;
            font-family: $heading-font;
            margin: 1rem 0;
        }

        h1 span,
        p span {
            color: $light-blue;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                align-items: center;

                span {
                    border-radius: 50%;
                    height: 0.5rem;
                    width: 0.5rem;
                    background-color: $light-blue;
                    margin-right: 0.75rem;
                }
            }
        }
    }

    &.swapped {
        flex-direction: row-reverse;
    }


    @media screen and (min-width: 1600px) {
        .image {

            .imageCircle {
                width: 125%;
                height: 125%;
                transform: translate(-25%);
            }
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        height: unset;
        margin-top: 10vh;
        align-items: center;
        column-gap: 0;
        row-gap: 3rem;

        .image,
        .content {
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 0 2rem;
        }

        .content {
            ul li {
                justify-content: center;
                margin: 0.25rem 0;

                span {
                    margin-right: 0.5rem;
                }
            }
        }

        .image {
            width: 80%;

            .imageCircle {
                width: 90vw;
                height: 90vw;
                border-radius: 50%;
                transform: unset;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .image {
            width: 90%;
        }
    }
}