@import "../../global.scss";

.story {
    text-align: center;
    line-height: 1.6;
}

.middle {
    text-align: center;
}

.partnerships {
    >p {
        text-align: center;
        margin-bottom: 4rem;
    }

    .partner {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 2rem;
        margin: 2rem 0;

        .image {
            width: 25%;
            display: flex;
            justify-content: center;
        }

        .content {
            width: 75%;

            h4 {
                font-size: 1.25rem;
                margin: 0;
                margin-bottom: 0.5rem;
                display: flex;
                align-items: center;

                span {
                    width: 0.75rem;
                    height: 0.75rem;
                    border-radius: 50%;
                    background-color: $dark-blue;
                    margin-right: 0.5rem;
                }
            }

            p {
                font-size: 0.95rem;
                line-height: 1.4;
            }
        }

        &:last-child {
            text-align: right;

            .content h4 {
                justify-content: flex-start;
                flex-direction: row-reverse;

                span {
                    margin-right: 0;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}