@import "../../global.scss";

// Grid Generic

.grid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;

    .image {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .content {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        p {
            font-size: 1.05rem;
            margin: 1rem 0;
            padding-right: 2rem;
            margin-top: 0;
        }

        p span {
            color: $light-blue;
        }
    }

    &.about-grid {
        .content {
            text-align: right;
        }
    }

    &.solutions-grid {
        .content {
            align-items: flex-start;

            p {
                padding-right: 0;
                padding-left: 2rem;
            }
        }
    }
}



.solutions-circle {
    background-color: rgba($dark-blue, 0.05);
    width: 200%;
    height: 200%;
    z-index: -5;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: -50%;
}

.projects-grid {
    column-gap: 3rem;

    .image {
        width: 35%;
    }

    .content {
        width: 32.5%;
        justify-content: center;

        p {
            padding-right: 0;
            padding-top: 3rem;
        }
    }

    .content:first-child {

        p {
            text-align: right;
            padding-top: 0;
            padding-bottom: 3rem;
        }
    }
}

.projects-link {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

@media screen and (max-width: 991px) {
    .grid {
        column-gap: 1rem;

        .image {
            width: 30%;
        }

        .content {
            width: 70%;
        }
    }
}

@media screen and (max-width: 768px) {
    .grid {
        column-gap: 0rem;
        row-gap: 3rem;
        flex-direction: column;

        .image {
            width: 90%;
        }

        .content {
            width: 100%;
            align-items: center !important;
            text-align: center !important;

            p {
                padding: 0 !important;
            }

            p:first-child {
                text-align: center !important;
            }
        }

        &.solutions-grid {
            flex-direction: column-reverse;
        }
    }


    .solutions-circle {
        background-color: rgba($dark-blue, 0.05);
        width: 100%;
        height: 100%;
        z-index: -5;
        border-radius: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}