@import "../../global.scss";

.table {
    display: flex;
    justify-content: center;
    column-gap: 1rem;


    .column {
        border: 2px solid $light-blue;
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        text-align: center;
        width: 33%;

        h3 {
            margin: 0;
            margin-bottom: 1rem;
            background-color: $dark-blue;
            color: $white;
            padding: 0.5rem 0;
            border-radius: 1rem;
        }

        p {
            margin: 0;
        }
    }

    @media screen and (max-width: 768px) {
        column-gap: 0;
        row-gap: 1.5rem;
        flex-wrap: wrap;

        .column {
            width: 100%;
        }
    }
}

.solutions {
    text-align: center;

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text {
            width: 75%;
        }

        .circle-grid {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 2rem 0;
            column-gap: 2rem;
            row-gap: 2rem;
            flex-wrap: wrap;

            .circle {
                // width: 20%;

                >div {
                    background-color: $dark-blue;
                    color: $white;
                    border-radius: 50%;
                    width: 7.5rem;
                    height: 7.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:nth-child(odd)>div {
                    background-color: $light-blue;
                }
            }
        }
    }

    .listBlock {
        background-color: rgba($dark-blue, 0.05);
        padding: 2rem;
        border-radius: 1rem;
        margin: 2rem 0;

        h6 {
            font-size: 1.1rem;
            margin: 0;
        }

        .list {
            padding: 0;
            list-style: none;

            li {
                margin: 0.25rem 0;
                display: flex;
                justify-content: center;

                i {
                    color: $light-blue;
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .listGrid {
        display: flex;
        column-gap: 2rem;
        margin: 2rem 0;


        .listBlock {
            width: 50%;
            text-align: left;
            margin: 0;

            .list li {
                justify-content: flex-start;
            }
        }
    }

    .blueBorder {
        padding: 2rem;
        border-radius: 1rem;
        border: 1.5px solid $light-blue;

        p {
            margin: 0;
        }
    }

    .blueBlock {
        padding: 2rem;
        border-radius: 1rem;
        background-color: $light-blue;

        h3 {
            color: $white;
            margin: 0;
        }
    }

    @media screen and (max-width: 768px) {
        .listGrid {
            column-gap: 0;
            row-gap: 2rem;
            flex-direction: column;

            .listBlock {
                width: 100%;
                margin: 0;
            }
        }
    }
}